:root {
  --light: #ffffff;
  --Light-gray: #d6e2f0;
  --Grayish-blue: #d6e1f0;
  --Dark-blue: #1f3251;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Grayish-blue);
}

.container {
  max-width: 1440px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  margin-top: 3rem;
}
