.card {
  background-color: var(--light);
  border-radius: 16px;
  text-align: center;
  margin: 60px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-img-top {
  border-radius: 11px;
  max-width: 100%;
  width: 255px;
  margin-top: 15px;
}

.card-title {
  margin: 15px 30px;
  font-weight: 700;
}

.card-text {
  font-size: 15px;
  color: var(--Light-gray);
  letter-spacing: 1px;
  margin: 20px;
  font-weight: 400;
}

.outfit-uniquifier {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 50px;
}

.attribution a {
  color: #3e52a3;
}
